<h1>Login</h1>
<div class="row">
<div class="col-sm-4">
<%= form_tag session_path do %>
	<div class="form-group">
		<%= label_tag :email,nil, class: 'control-label' %><br />
		<%= text_field_tag :email,nil , class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag :password, nil, class: 'control-label' %><br />
		<%= password_field_tag :password, nil, class: 'form-control' %>
	</div>
	<div class="actions">
		<%= check_box_tag :remember_me, true %>
		<%= link_to 'Forgot your password?', forgot_path %><br />
		<%= submit_tag 'Login',  class: 'btn btn-default' %>
		<%= link_to 'Register', new_user_path, class: 'btn btn-info' %>
		
	</div>
<% end %>
</div>
</div>

