<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your password has been changed, <%= @user.login %></h1>
    <p>
      Your new password: <%= @user.hashed_password %><br>
    </p>
    
    <p>Please change your password as soon as possible!</p>
  </body>
</html>
