
<%= form_for(@task, remote: true, :html => { :role => "form"}) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
  

  <div class="form-group">
    <%= f.label :title, class: 'control-label' %><br>
    <%= f.text_field :title, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_area :description, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="actions">
    <%= f.submit @task.new_record? ? 'Create' : 'Update', class: 'btn btn-default' %>
  </div>
<% end %>
