<div class="row">
<div class="col-sm-4">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @task.created_date %>
</p>
</div>
</div>



