<tr id="task<%= task.id %>">
	<td><%= check_box_tag("delete[#{task.id}]") %></td>
        <td><%= task.title %></td>
        <td><%= task.created_date %></td>
        <td><%= link_to 'Show', task, remote: true, :class => 'btn btn-sm btn-success' %></td>
        <td><%= link_to 'Edit', edit_task_path(task), remote: true, :class => 'btn btn-sm btn-info' %></td>
        <td><%= link_to 'Delete', task, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %></td>
      </tr>
