

<h1>Your Tasks</h1>
<%= form_tag destroy_multiple_path do %>
<table class="table-bordered" style="width: 100%; text-align: center">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Created date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody id ="tasks">
    <%= render @tasks %>
  </tbody>

</table>
<div class="actions">
		<%= submit_tag 'Remove selected',  class: 'btn btn-default' %>
</div>
<% end %>
<div style="text-align: center">
	<%= will_paginate @tasks, renderer: BootstrapPagination::Rails, :is_active => true %>
</div>
<%= render 'dialog' %>
<br>


