// Add the dialog title
$('#dialog h3').html("<i class=' glyphicon glyphicon-pencil'></i> Details");
 
// Render the edit form
$('.modal-body').html('<%= j render("show") %>');
 
// Show the dynamic dialog
$('#dialog').modal("show");
