<div class="row">
<div class="col-sm-4">
<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div class="alert alert-danger">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
			<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="form-group">
		<%= f.label :login, class: 'control-label' %><br />
		<%= f.text_field :login, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :email, class: 'control-label' %><br />
		<%= f.text_field :email, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :password, class: 'control-label' %><br />
		<%= f.password_field :password, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :password_confirmation, class: 'control-label' %><br />
		<%= f.password_field :password_confirmation, class: 'form-control' %>
	</div>
	<div class="actions">
		<%= f.submit 'Register', class: 'btn btn-default' %>
	</div>
<% end %>
</div>
</div>
