<h1>Change password</h1>
<div class="row">
<div class="col-sm-4">
<%= form_tag commit_change_pass_path do %>
	<div class="form-group">
		<%= label_tag 'Enter your old password',nil, class: 'control-label' %><br />
		<%= password_field_tag :old_password,nil , class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag 'Enter new password',nil, class: 'control-label' %><br />
		<%= password_field_tag :new_password,nil , class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag 'Confirm password',nil, class: 'control-label' %><br />
		<%= password_field_tag :password_confirmation,nil , class: 'form-control' %>
	</div>
	<div class="actions">
		<%= submit_tag 'Change',  class: 'btn btn-default' %>
	</div>
<% end %>
</div>
</div>
