<h1>Reset password</h1>
<div class="row">
<div class="col-sm-4">
<%= form_tag reset_path do %>
	<div class="form-group">
		<%= label_tag 'Enter your e-mail address',nil, class: 'control-label' %><br />
		<%= text_field_tag :email,nil , class: 'form-control' %>
	</div>
	<div class="actions">
		<%= submit_tag 'Send',  class: 'btn btn-default' %>
	</div>
<% end %>
</div>
</div>
