<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	  	<div class="jumbotron" style="text-align: center">
	    		<h1>ToDo list</h1>
    			<p>Welcome to task list app!</p>
			<% if logged_in? %>
				<%= link_to "New Task", new_task_path, remote: true, class: "btn btn-primary" %>
			<% end %>
  		</div>
		<% flash.each do |name, msg| %>
			<% if name == "notice" %>
    				<%= content_tag :div, msg, class: "alert alert-info" %>
			<% else %>
				<%= content_tag :div, msg, class: "alert alert-danger" %>
			<% end %>
  		<% end %>
		<br />
		<% if logged_in? %>
			 <div class="dropdown">
  				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu
  				<span class="caret"></span></button>
  				<ul class="dropdown-menu">
    					<li><%= link_to "Change password", change_pass_path %></li>
    					<li><%= link_to link_to 'Delete account', current_user, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
					<li><%= link_to "My tasks", tasks_path %></li>
    					<li><%= link_to "Logout", logout_path %></li>
  				</ul>
			</div>		
		<% end %>
		
	<%= yield %>
	</div>
</body>
</html>
